body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    color: #333;
    margin: 15px;
    /* Adiciona margem de 15px em todos os lados */
    min-height: 100vh;
    /* Garante que o corpo tenha pelo menos a altura da tela */
    position: relative;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #4285f4;
}

section.main-content {
    max-width: 800px;
    margin: 0 auto;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4285f4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3367d6;
}

p {
    font-size: 16px;
    font-weight: bold;
    color: #4285f4;
}

#countedTextQuantity {
    font-size: 20px;
    color: #4285f4;
}

section.center-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.center2 {
    width: 48%;
    margin-bottom: 20px;
}

h2 {
    color: #4285f4;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4285f4;
    color: #fff;
}

#myCanvas {
    margin-top: 20px;
    width: 100%;
}

footer {
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f2f2f2;
    padding: 10px;
    color: #666;
}

@media (max-width:320px) {

    section.center-content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;

    }
    .center2{
        width: 100%;
    }
    table {
        width: 100%;
        margin-top: 10px;
    }
}